@keyframes color-change {
    0% {
      color: blue;
    }
  
    50% {
      color: red;
    }
  
    100% {
      color: blue;
    }
}

body {
    font-family: Arial,  sans-serif; /* keluarga font */
    font-size: 15px; /* Ukuran font utama pada tag <p></p> */
    background-color: #eeefea; /* Warna latar belakang laman web */
    color: #1912e3; /* Warna teks */ 
}
h1 {
    color: #9312e3; /* Warna tajuk (header)*/
    font-size: 28px; /* Ukuran font tajuk (header) */
    font-family: Georgia, serif; /* Keluarga font yang digunakan di tajuk (header) */
}

h1:hover { animation: color-change 3s infinite; }